<template name="newCustomerPrivilege">
  {{#ionModal title="Add New Privilege"}}
    <form>
      	<div class="form-group" style="padding: 5px 15px 5px 15px; border-bottom: 1px solid #dddddd;">
          <span class="input-label {{nameStatus}}" style="padding-bottom: 0px; width: 100%;">Name</span>
          <div class="control-group" style="width: 100%; margin-bottom: 5px;">
            <input type="text" class="form-control" id="privilegeSearch" style="color: #666;">
          </div>
        </div>
        
      	<div class="form-group" style="padding: 5px 15px 5px 15px; border-bottom: 1px solid #dddddd;">
          <span class="input-label" style="padding-bottom: 0px;">Discount Type</span>
          <select class="ion-input-select" style="margin-top: 10px; margin-bottom: 10px;" id="discountOptions">
            <option value="selectBrand">Select Discount Type</option>
              <option value="cash">Cash</option>
              <option value="percentage">Percentage</option>
          </select>
        </div>
      	<div class="form-group" style="padding: 5px 15px 5px 15px; border-bottom: 1px solid #dddddd;">
          <span class="input-label" style="padding-bottom: 0px;">Discount Value</span>
          <input type="text" class="form-control" id="discountValue" placeholder="Discount Value" style="color: #666;">
      	</div>
        <div class="form-group" style="padding: 5px 15px 5px 15px; border-bottom: 1px solid #dddddd;">
          <span class="input-label" style="padding-bottom: 0px; width: 100%;">Details</span>
          <textarea rows="4" placeholder="Package Details" id="details" style="color: #666;"></textarea>
        </div>
        <button class="button button-full button-balanced" style="margin-top: 0px;" type="submit" {{isDisabled}}>
          Add New Privilege
        </button>
    </form>
  {{/ionModal}}
</template>