<template name="addItemRemark">
  {{#ionModal title="Add Inventory Item Remark"}}
    <form>
      <div class="content overflow-scroll">
        <div class="form-group" style="padding: 5px 15px 5px 15px; border-bottom: 1px solid #dddddd;">
          <span class="input-label" style="padding-bottom: 0px; width: 100%;">Remark</span>
          <textarea rows="4" placeholder="Type remarks here" id="remark"></textarea>
        </div>
        <button class="button button-full button-balanced" style="margin-top: 0px;" type="submit">
          Add Remark
        </button>
      </div>
    </form>
  {{/ionModal}}
</template>
