<template name="eula">

  {{#contentFor "headerTitle"}}
    <h1 class="title">END USER LICENSE AGREEMENT</h1>
  {{/contentFor}}
  
  {{#ionView}}
    {{#ionContent class="splashPage"}}
    <div class="row" style="height: 33.3%;">
		<div class="col" style="height: 100%;">
			<div class="list card">
			  <div class="item item-body">
			    <p>
			     	“The COMPANY” means Camwerkz Pte Ltd (Company no.: 200819992Z). The COMPANY’S premises are at 115A Commonwealth Drive #05-07/08/09 Singapore 149596. “The Hirer” means the person(s) hiring the equipment from the COMPANY. This includes all persons acting on behalf of or under the instructions of the hirer.
			    </p>
			    <p>
				All equipment is hired strictly on the basis of all the terms and conditions listed in this agreement, which consist of 4 pages.
				</p>
				<p>
					By hiring from the COMPANY the hirer will be deemed to have accepted all the terms and conditions of this agreement without qualification and will be bound by them in respect of each and every hiring transaction between the COMPANY and the hirer. The COMPANY reserves the right to charge a cancellation fee of 50% of the rent otherwise chargeable for cancellation of confirmed bookings if notification is less than 48 hours from date of booking.
				</p>
				<p>
					The hirer shall not assign, transfer or sublet their rights under this agreement and will not pledge, mortgage or encumber the equipment or their rights under this agreement.
				</p>
				<p>
The hirer must provide an identity card including full name and address in Singapore. The COMPANY reserve the rights to terminate hiring if HIRER fail to provide an identity. The hirer shall advise the COMPANY at all times of the situation of the equipment and shall not remove the equipment out of Singapore, or without the prior consent in writing of the COMPANY allow it to be used on any abnormal or hazardous assignment. The equipment is not to be used where it could be affected by salt or water or atmospheric corrosion.
				</p>
				<p>
The hirer acknowledges receipt of equipment in good working order and good condition. The COMPANY will not be responsible for incomplete kits or incorrect functioning of equipment. Although the COMPANY uses a thorough checking system it is the responsibility of the hirer to check the functioning and adequacy of the particular piece of equipment for the task required of it.
				</p>
				<p>
RISK & INSURANCE: Except for normal fair wear and tear of the equipment, the hirer shall be responsible and hereby accepts responsibility for the care and safekeeping of the equipment from the time the equipment is picked up at the COMPANY’S premises at 115A Commonwealth Drive #05-07/08/09 Singapore 149596 PROVIDED HOWEVER that in any case where the COMPANY agrees to deliver or pick up the equipment the hirer shall continue to be liable under the forgoing provisions of this Clause from the time the equipment leaves the COMPANY’S premises at 115A Commonwealth Drive #05- 07/08/09 Singapore 149596, until the equipment is returned to the COMPANY’S premises from which it has been uplifted.
				</p>
				<p>
The COMPANY shall be entitled to demand and recover from the hirer any losses (including costs) incurred by the COMPANY in respect of loss or damage to the equipment howsoever arising except to the extent of any cover provided by any insurance held. Notwithstanding any insurance cover in respect of the equipment the hirer shall remain liable under the provisions of this agreement and shall also be liable to pay rental for the equipment at the rate applicable for the period of hire until the equipment lost or damaged is replaced or repaired as the case may be.
				</p>
				<p>
Any loss of or damage to the equipment shall be forthwith notified to the COMPANY and the hirer will at the request of the COMPANY take any steps reasonably required of them by the COMPANY in respect of making reports to the COMPANY and its insurer, the
				</p>
				<p>
Police or appropriate authorities concerning any such loss or damage. The hirer will not do any act or thing whereby any insurance in respect of the equipment may be prejudiced in any way.
				</p>
				<p>
The hirer acknowledges that they have been advised that insurance is under their care and not by the COMPANY unless otherwise stated.
				</p>
				<p>
The hirer shall return the equipment to the COMPANY by the expiry of the hire period in good working order and condition, and shall inform the COMPANY of any damage or defect arising during the hiring or any incident that occurred during the hiring likely to cause such defect or damage. Failure to return the equipment after the agreed hire period without informing the COMPANY will be reported to the Police under Criminal Breach Of Trust.
				</p>
				<p>
Return of equipment in a dirty or improperly packaged condition will attract a S$50 surcharge at the discretion of the COMPANY.
				</p>
				<p>
The hirer shall ensure persons with the necessary experience and familiarity with that type of equipment use all equipment in a skilful and proper manner. The hirer will not attempt to adjust or repair or interfere with equipment except where it is necessary for its proper and normal use.
				</p>
				<p>
The hirer must take all reasonable precautions for the safety and security of the equipment and protect it from all climatic and atmospheric conditions.
				</p>
				<p>
The hirer is liable for any damage to or destruction of equipment from any cause whatsoever (including the acts whether negligent or not, of any person) from the time the equipment is signed out till the equipment is signed as returned.
				</p>
				<p>
Except to the extent implied by any statute or regulation in force the COMPANY makes no warranties or representations in respect of the equipment and the hirer accepts the equipment relying on their own knowledge and opinion of the equipment AND the COMPANY will not be held liable for any loss of the hirer howsoever occasioned as a result of the equipment not being fit for any use to which it is put to by the hirer.
				</p>
				<p>
In any case where repairs are required to the equipment during the period of hire, the hirer will in every case forthwith advise the COMPANY. By attempting an unauthorized repair or technical adjustment the hirer will void the warranty held by the manufacturer. ALL such repairs whether carried out by the COMPANY or a repairer approved by the COMPANY shall in every case be at the cost of the hirer who shall also be responsible to pay rental for any equipment on which repairs are carried out at the rate applicable for the period of hire up to the date the equipment is returned to the COMPANY in full working order.
				</p>
				<p>
In the event of the hiring being terminated under any provisions of this agreement the hirer shall forthwith at their own risk and cost, deliver up the equipment to the COMPANY’S respective premises PROVIDED HOWEVER that in the event that the hirer shall neglect and/or refuse to so redeliver the equipment to the COMPANY, it is hereby agreed that the COMPANY, its servants and agents may without previous notice enter into and upon any premises where the equipment or any item or items thereof may for the time being be situated and seize and retake possession thereof. It is further agreed that the hirer shall be liable to pay upon demand all costs and expenses of and incidental to any such retaking of possession incurred by the COMPANY.
				</p>
				<p>
No granting of time or other indulgence offered or granted by the COMPANY shall operate to restrict the exercise or any of the rights available to the COMPANY hereunder or under the general law against the hirer or any other person.
				</p>
				<p>
If the hirer shall make default in punctual payment of any sum payable hereunder or if they shall be adjudged bankrupt or shall enter into any agreement for the benefit of their creditors or if any execution of distress shall be levied against them and remain unsatisfied, or being a company if the hirer shall be placed in receivership or go into liquidation or if the hirer shall fail to observe or perform or shall commit a breach of any stipulation or condition expressed or implied hereunder, then in any such case the COMPANY may without further notice terminate the hiring.
				</p>
				<p>
Where any person signs this agreement on behalf of any hirer, the person so signing warrants that s/he is duly authorized by the hirer to enter into this hire agreement. All equipment is reserved and hired strictly on the basis of these Terms and Conditions of Business. By reserving, hiring or buying from the Company, under oral or written agreement, the hirer will be regarded as having accepted without qualifications these Terms and Conditions and to accordingly be bound by them in respect of each and every reservation, hiring or purchase transaction between the Company and the hirer.
				</p>
				<p>
The COMPANY retains the right to seek credit information about the hirer from any source the COMPANY considers appropriate from time to time as and when the COMPANY considers necessary, and the hirer consents to the disclosure of credit information about the hirer to the COMPANY from any source.
				</p>
				<p>
The hirer consents to the COMPANY disclosing information held about the hirer to any company or any marketing or promotions agency or company employed by the COMPANY, and to the COMPANY using information held about the hirer to enable the COMPANY or any marketing or promotion agency or company employed by the COMPANY to provide the hirer with information relating to the COMPANY’S equipment. The COMPANY retains the right, in the event the hirer fails to pay for the rent of the equipment(s), to provide details of the hirer and the hirer’s debt(s) to any entity the COMPANY chooses for the purposes of collection.
				</p>
				<p>
The hirer understands that s/he is entitled to have access to and request the correction of information held by the COMPANY and the names and addresses of the entities and the companies to which the COMPANY has disclosed information about the hirer.
				</p>
				<p>
Failure to pay rental by the due date may result in further deliveries being stopped until the overdue payments have been made. The COMPANY reserves the right to request from the hirer such guarantee or security as it may think desirable to secure to the COMPANY all sums due by the hirer, and may refuse to supply further equipment(s) to the hirer until such security is given.
				</p>
				<p>
In the event of default by the hirer, the COMPANY shall be entitled to demand and recover from the hirer interest on any amount outstanding calculated from the date such sum or sums were due to be paid to the COMPANY until the date of the actual payment thereof whether before judgment or after judgment payable at the COMPANY’S then current overdraft rate plus 2% per month thereon (“the penalty interest”). In addition to payment of rental and the penalty interest the hirer will also be liable to pay to the COMPANY upon demand all and any legal expenses and costs incurred by the COMPANY (on a solicitor and own client basis) in the process of recovery and/or attempted recovery of money and/or equipment from the hirer.
				</p>
				<p>
The hirer may not set-off against the rental payable any claims which the hirer may have against the COMPANY. The COMPANY may accept and apply payments from the hirer in respect of any indebtedness and the COMPANY will not be bound by any conditions or qualifications attaching to such payments.
				</p>
				<p>
The COMPANY may set-off against any moneys owed by the COMPANY to the hirer any moneys which the hirer owes to any subsidiary or related companies of the COMPANY so that the obligation of the COMPANY to the hirer shall be to pay the net balance only. If any of the COMPANY’S subsidiary or related companies owe moneys to the hirer, then they may set-off against such moneys any moneys owed by the hirer to the COMPANY in respect of any rent and shall only be liable to pay the net balance and the hirer agrees that this provision is made for the benefit of such subsidiary and related companies of the COMPANY and may be enforced directly by them in their own respective names. 
				</p>
			  </div>
			</div>
		</div>
	</div>
    {{/ionContent}}
  {{/ionView}}
</template>
