<template name="_customerInfo">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <a class="item" href="http://www.meteor.com/" target="_blank">
         <i class="icon ion-edit"></i> Edit Information
        </a>
        <a class="item" href="http://www.meteor.com/" target="_blank">
         <i class="icon ion-edit"></i> Edit Information
        </a>
        <a class="item" href="http://www.meteor.com/" target="_blank">
         <i class="icon ion-edit"></i> Edit Information
        </a>
      </div>
    </div>
  {{/ionPopover}}
</template>
