<template name="recordOtherPayment">
  {{#ionModal customTemplate=true}}
   <div class="bar bar-header bar-stable">
        <a href="#" id="backButton"><button  type="button" class="button button-positive button-clear"><i class="icon ion-ios-arrow-back"></i></button></a>
        <h2 class="title">Choose Payment Type</h2>
        <button data-dismiss="modal" class="button button-positive button-clear" id="close">Close</button>
      </div>
      <div class="content overflow-scroll">
        <div id="choosePaymentType" style="height: 100%;">
        <div class="row " style="height: 33%; margin-top: 45px;">
          <div class="col" style="height: 100%;">
            <div style="display: table; height: 100%; width: 100%; text-align: center; #position: relative; overflow: hidden;">
                <div id="Cash" class="status" style=" #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; background: #374140; border: 5px solid #374140;">
                  <div style="position: relative;top: -50%;">
                    <h1 style="color: white; margin-bottom: 0px;" id="Cash">CASH</h1>
                  </div>
                </div>
            </div>
          </div>
          <div class="col" style="height: 100%;">
            <div style="display: table; height: 100%; width: 100%; text-align: center; #position: relative; overflow: hidden;">
                <div id="Cheque" class="status" style=" #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; background: #374140; border: 5px solid #374140;">
                  <div style=" #position: relative; #top: -50%;">
                    <h1 style="color: white; margin-bottom: 0px;" id="Cheque">Cheque</h1>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row " style="height: 33%;">
          <div class="col" style="height: 100%;">
            <div style="display: table; height: 100%; width: 100%; text-align: center; #position: relative; overflow: hidden;">
                <div id="Nets" class="status" style=" #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; background: #374140; border: 5px solid #374140;">
                  <div style=" #position: relative; #top: -50%; margin-top: 14px;">
                    <img src="/images/nets.png"/>
                  </div>
                </div>
            </div>
          </div>
          <div class="col" style="height: 100%;">
            <div style="display: table; height: 100%; width: 100%; text-align: center; #position: relative; overflow: hidden;">
                <div id="Unionpay" class="status" style=" #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; background: #374140; border: 5px solid #374140;">
                  <div style=" #position: relative; #top: -50%; margin-top: 14px;">
                    <img src="/images/unionpay.png"/>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="row " style="height: 33%;">
          <div class="col" style="height: 100%;">
            <div style="display: table; height: 100%; width: 100%; text-align: center; #position: relative; overflow: hidden;">
                <div id="Visa" class="status" style=" #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; background: #374140; border: 5px solid #374140;">
                  <div style=" #position: relative; #top: -50%; margin-top: 14px;">
                    <img src="/images/visa.png"/>
                  </div>
                </div>
            </div>
          </div>
          <div class="col" style="height: 100%;">
            <div style="display: table; height: 100%; width: 100%; text-align: center; #position: relative; overflow: hidden;">
                <div id="Mastercard" class="status" style=" #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; background: #374140; border: 5px solid #374140;">
                  <div style=" #position: relative; #top: -50%; margin-top: 14px;">
                    <img src="/images/mastercard.png"/>
                  </div>
                </div>
            </div>
          </div>
        </div>
        </div>
        <div id="enterPaymentAmount" style="display: none;">
          <div class="row" style="margin-top: 55px;">
            <div class="col" style="height: 100%; text-align: center;">
              <p style="font-size: 24px;">Enter Amount</p>
              <input type="text" placeholder="0.00" id="amount" style="line-height: 65px; text-align:center; width: 100%; height: 65px; border-bottom: 1px solid black;"/>
              {{#if chequeClicked}}
              <input type="text" placeholder="Cheque Serial Number" id="chequeSerialNo" style="line-height: 65px; text-align:center; width: 100%; height: 65px; border-bottom: 1px solid black;"/>
              {{/if}}

              {{#if netsClicked}}
              <input type="text" placeholder="NETS Receipt Number" id="netsReceiptNo" style="line-height: 65px; text-align:center; width: 100%; height: 65px; border-bottom: 1px solid black;"/>
              {{/if}}

              {{#if unionpayClicked}}
              <input type="text" placeholder="UnionPay Receipt Number" id="unionpayReceiptNo" style="line-height: 65px; text-align:center; width: 100%; height: 65px; border-bottom: 1px solid black;"/>
              {{/if}}

              {{#if visaClicked}}
              <input type="text" placeholder="VISA Receipt Number" id="visaReceiptNo" style="line-height: 65px; text-align:center; width: 100%; height: 65px; border-bottom: 1px solid black;"/>
              {{/if}}

              {{#if mastercardClicked}}
              <input type="text" placeholder="MasterCard Receipt Number" id="mastercardReceiptNo" style="line-height: 65px; text-align:center; width: 100%; height: 65px; border-bottom: 1px solid black;"/>
              {{/if}}


              <button class="button button-block button-stable" disabled style="margin-top: 40px;">
                Balance Due: {{balanceLeft}}
              </button>
              <button class="button button-block button-balanced" id="pay">
                Record Payment
              </button>         
              </div>
          </div>
        </div>
      </div>
  {{/ionModal}}
</template>   